# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# msbuild output directories
/bin
/obj

# MSBuild Binary and Structured Log
*.binlog

# Visual Studio
.vs/

# Build artifacts
bin/
obj/

# NuGet packages
packages/

# User files
*.user
*.suo

# Cache
*.cache
*.binlog